body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #dddddd;
}

h1{
	margin-left: 250px;
}
a{
	margin-left: 8px;
	color: #606060;
	text-decoration: none;
}

div#form-div {
	width:400px;
	margin-left: 230px;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

div#form-castracao{
	width:970px;
    background-color:white;
    margin:1px auto 0px auto;
    box-shadow:0px 0px 10px rgba(0,0,0,.7);
    padding:10px;
    background-color: #FFFAFA;
}

legend{
	font-weight: bold;
}


fieldset{
	margin:8px;
}

input, select{
	font-family: sans-serif;
    font-weight: normal;
    font-size: 12pt;
    background-color:rgba(255,255,255,.8);
    margin-bottom: 5px;
}

input:hover{
	background-color:#dddddd;
}

input#botao, a{
	margin-left:8px;
}


a:hover{
	color: #ff0000;
}

table{
	border:1px solid #606060;
    border-spacing:0px;
    margin-left:auto;
    margin-right:auto;
}

table td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
}
