
h1{
	font-style: sans-serif;
}

div#form-castracao{
	width:900px;
    background-color:white;
    margin:-20px auto 0px auto;
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
    padding:10px;
}

input{
	padding: 5px;
}